h1, h2, h3, h4, h5 {
  margin-top: 0;
}
.app {
  max-width: 640px;
}
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.card:not(.card-plain):hover {
  box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}